<div class="posts-list">
  <div class="posts-list--heading">
    <h2>Meus posts</h2>
  </div>

  <div class="posts-list--content">
    {% for post in user_posts %}
    <div class="post-card">
      <div class="post-card--tags">
        {% for tag in post.tags %}
        <div class="tag">#{{ tag.title }}</div>
        {% endfor %}
      </div>
      <div class="post-card--content">
        <h4>{{ post.content.title }}</h4>
        <p>{{ post.post_content.content }}</p>
      </div>
      <a href="#">Clique para Acessar</a>
    </div>
    {% endfor %}
  </div>
</div>
