* {
  box-sizing: border-box;
}
body {
  background: #0d0a2c;
  width: 100%;
  height: 100vh;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  width: 50%;
  color: #fff;
}

.heading h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.heading h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.content-wrapper {
  width: 50%;
}
.category-title {
  background: #cbb6e6;
  color: #1e1e1e;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0;
}
.thread-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.thread-list a {
  all: unset;
  cursor: pointer;
}
.thread-list li {
  list-style: none;
  background-color: #141325;
  color: #fff;
  width: 100%;
  border-radius: 8px;
  min-height: 100px;
  padding: 1rem;
}
.thread-title {
  font-size: 1.5rem;
  font-weight: 500;
}
.thread-posts {
  font-weight: 500;
}
.thread-description {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.create-post {
  all: unset;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #34aa1f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}
