{% extends "profiles/base.html" %} {% load static %} {% block content %}
<head>
  <title>Perfil</title>
  <link rel="stylesheet" href="{% static '/profiles/css/profile.css' %}" />
</head>
<body>
  <div class="container">
    <div class="profile-content">
      <div class="profile-content--statistics">
        {% include "profiles/statistics.html" %} 
        {% include "profiles/forms-container.html" %}

        <button class="user-edit" id="user-edit">
          <img src="{% static "/profiles/images/Gear.svg" %}" alt="editar
          perfil"> editar cadastro
        </button>
      </div>

      {% include "profiles/logout.html" %}
    </div>
    {% include "profiles/posts-list.html" %}
  </div>
  <input type="hidden" id="userHasProfile" value="{{ user_has_profile }}">
  <script src="{% static '/profiles/js/edit-profile.js' %}">
    
  </script>
</body>
{% endblock %}
