body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.background-img {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('/static/profiles/images/background.jpg');
    width: 100vw;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 3rem;
    background-color: #CBB6E6;
    width: 25vw;
    height: 55vh;
    border-radius: 20px;
}
.options {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}
.options form {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 18px;
}
.options form input[type="radio"], label {
    cursor: pointer;
}
.options form  input[type="radio"] {
    all: unset;
    display: block;
    height: .3rem;
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
}
.options form  input[type="radio"]:checked {
    background-color: #7552E0;
}
.options input:checked + label{
    color: #7552E0;
}
.signin-option, .register-option {
    display: flex;
    flex-direction: column-reverse;
}

.inputs-container {
    display: flex;
    flex-direction: column;
}
.inputs-label {
    display: flex;
    align-items: flex-end;
    width: 80%;
    height: 1.5rem;
    font-size: 15px;
    color: #8F51E1;
    border-bottom: 3px solid #8F51E1;
    padding-bottom: 2px;
    margin-left: 2px;
}
.inputs-label img {
    margin-right: 5px;
    height: 80%;
}

input[type="text"], input[type="email"], input[type="password"]{
    border: none;
    border-radius: 8px;
    background-color: #D9D9D9;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 5px;
}

.remember-login {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.remember-login input {
    cursor: pointer;
    margin: 0px;
}
.remember-login label {
    color: #8F51E1;
    font-size: 12px;
    margin-left: 5px;
}

.submit-button {
    display: flex;
    justify-content: center;
    width: 100%;
}
.submit-button input{
    background: linear-gradient(#7552E0, #9251E1);
    color: #FFFFFF;
    font-size: 13px;
    width: 45%;
    height: 1.8rem;
    border: none;
    border-radius: 8px;
}

#login-form, #register-form {
    width: 80%;
}

#register-form label {
    display: flex;
    align-items: flex-end;
    width: 80%;
    height: 1.3rem;
    font-size: 13px;
    color: #8F51E1;
    padding-bottom: 2px;
    margin-left: 2px;
}

#register-form input {
    margin-top: 6px;
    margin-bottom: 6px;
}
