<div class="select-wrapper">
  <div id="threadList" class="form-control">
    <span> Thread </span>
    <select id="threadsSelect" value="{{ post.thread.thread_id }}">
      {% for thread in threads %}
      <!--  -->
      {% if thread.thread_id == post.thread.thread_id %}
      <option value="{{ thread.thread_id }}" selected>
        {{ thread.title }}
      </option>
      {% else %}
      <option value="{{ thread.thread_id }}">{{ thread.title }}</option>
      {% endif %} {% endfor %}
    </select>
  </div>
  <div class="form-control">
    <br />
    <button id="openNewThreadModal" type="button">+</button>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $("#openNewThreadModal").click(function () {
    $("#newThreadModal").show();
  });
</script>
