<div class="select-wrapper">
  <div id="threadList" class="form-control">
    <span> Thread </span>
    <select id="threadsSelect">
      {% for thread in threads %}
      <option value="{{ thread.thread_id }}">{{ thread.title }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-control">
    <br />
    <button id="openNewThreadModal" type="button">+</button>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $("#openNewThreadModal").click(function () {
    $("#newThreadModal").show();
  });
</script>
