{% extends "../base.html" %} {% load static %} {% block content %}
<head>
  <title>Explorar</title>
  <link rel="stylesheet" href="{% static '/explore/css/explore.css' %}" />
</head>
<body>
  {% if threads_and_posts %} {% for thread, posts in threads_and_posts.items %}
  <div class="thread-title">{{ thread.title }}</div>
  <ul class="post-list">
    {% for post in posts %}
    <li>{{ post.title }}</li>
    {% endfor %}
  </ul>
  {% endfor %} {% else %}
  <span>Nenhuma thread encontrada :-/</span>
  {% endif %}
</body>
{% endblock %}
