{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>GameTalks🎮</title>
    <link rel="stylesheet" href="{% static "/homepage/css/homepage.css" %}">
    <link rel="stylesheet" href="{% static "/homepage/css/background.css" %}">
  </head>
  <body>
    <div class="d-flex-center">
      <header>
        <h3>GameTalks🎮</h3>
        <ul class="sections-list">
          <li><a href="#init">INÍCIO</a></li>
          <li><a href="#explore">EXPLORE</a></li>
          <li><a href="#about">SOBRE</a></li>
          <li><button class="join-btn">Participe Agora</button></li>
        </ul>
      </header>
      <section id="init">
        <div class="background">
          <div class="background-wrapper">
            <img class="svg svg1" src="{% static "/homepage/images/blob1.svg" %}"/>
            <img class="svg svg2" src="{% static "/homepage/images/blob2.svg" %}"/>
            <img class="svg svg3" src="{% static "/homepage/images/blob3.svg" %}"/>
            <div class="overlayer"></div>
          </div>
        </div>
        <h1>GameTalks🎮</h1>
        <p class="description">
          Entre para a nossa comunidade e explore cada vez mais o mundo de jogos
        </p>
        <button class="join-btn">Participe Agora</button>
      </section>
      <section id="explore">
        <div class="background" style="--displacement: 1.25;">
          <div class="background-wrapper" >
            <img class="svg svg1" src="{% static "/homepage/images/blob1.svg" %}"/>
            <img class="svg svg2" src="{% static "/homepage/images/blob2.svg" %}"/>
            <img class="svg svg3" src="{% static "/homepage/images/blob3.svg" %}"/>
            <div class="overlayer"></div>
          </div>
        </div>
        <ul>
          <li>
            <img src="{% static "/homepage/images/game1.svg" %}"
            alt="descubra"/>
            <span>Encontre novos parceiros para a jogatina</span>
          </li>
          <li>
            <img src="{% static "/homepage/images/game2.svg" %}" alt="explore"/>
            <span
              >Explore comunidades sobre os mais diversos tipos de games</span
            >
          </li>
        </ul>
        <button class="join-btn">Participe Agora</button>
      </section>
      <section id="about">
        <div class="background" style="--displacement: -1;">
          <div class="background-wrapper">
            <img class="svg svg1" src="{% static "/homepage/images/blob1.svg" %}"/>
            <img class="svg svg2" src="{% static "/homepage/images/blob2.svg" %}"/>
            <img class="svg svg3" src="{% static "/homepage/images/blob3.svg" %}"/>
            <div class="overlayer"></div>
          </div>
        </div>
        <img src="{% static "/homepage/images/rectangle.png" %}"
        alt="background">
        <div class="content">
          <h1>Sobre</h1>
          <div class="container">
            <h3>Metas e Objetivos</h3>
            <p>
                Bem-vindo ao universo extraordinário do Gametaks, onde a paixão
                pelos jogos se encontra com a conexão humana em uma plataforma
                única. Imagine um lugar onde cada clique é uma entrada para um
                mundo repleto de conversas vibrantes, insights apaixonados e a
                energia contagiante dos games.
            </p>
          </div>
          <div class="container">
            <h3>Membros</h3>
            <h3>Carlos Lamark</h3>
            <h3>Maria Clara</h3>
            <h3>Richard Lima</h3>
          </div>
        </div>
      </section>
      <section id="discussions">
        <div class="background">
          <div class="background-wrapper">
            <img class="svg svg1" src="{% static "/homepage/images/blob1.svg" %}"/>
            <img class="svg svg2" src="{% static "/homepage/images/blob2.svg" %}"/>
            <img class="svg svg3" src="{% static "/homepage/images/blob3.svg" %}"/>
            <div class="overlayer"></div>
          </div>
        </div>
        <h1>Discussões Recentes</h1>
        <div class="discussions-container">
          <ul>
            <li>
              <div class="user-name">
                <img src="{% static "/homepage/images/profile.svg" %}"
                alt="perfil"> @mango_jo
              </div>
              <div class="comment">Qual é o seu jogo favorito e por quê?.</div>
            </li>
            <li>
              <div class="user-name">
                <img src="{% static "/homepage/images/profile.svg" %}"
                alt="perfil"> @El_pagodinho
              </div>
              <div class="comment">Preciso de dicas para passar de fase no Atomicrops. Alguém pode ajudar?</div>
            </li>
            <li>
              <div class="user-name">
                <img src="{% static "/homepage/images/profile.svg" %}"
                alt="perfil"> @Thiagueta
              </div>
              <div class="comment">Discussão sobre as últimas atualizações/patch notes do Terraria.</div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>
  <script>
    const JoinButtons = document.getElementsByClassName('join-btn');
    Array.from(JoinButtons).forEach(button => {
      button.addEventListener('click', () => {
        window.location.href = '/login';
    });
  });
  </script>
</html>
